.active{
    text-decoration: underline;
}
.navbar-brand{
    font-family: filicudi-striped, serif;
    font-size: 30px;
    background-color: white;
}
.mobile-text-logo{
    font-family: filicudi-striped, serif;
    font-size: 50px;
    background-color: white;
    display:inline;
}
p{
    font-family: Rubik;
}