.active{
    background-color: #d0ff16;
    color: white;
    /* text-decoration: underline; */
    border: 3px solid black;
    border-radius: 8px;
  }
  
  .nav-item{
    border-radius: 3px;
  }
  .navbar-brand{
    font-family: filicudi-striped, serif;
    font-size: 30px;
    background-color: white;
  }
  .mobile-text-logo{
    font-family: filicudi-striped, serif;
    font-size: 50px;
    background-color: white;
    display:inline;
  }
  p{
    font-family: Rubik;
  }
  
  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 0;
  }
  
  a.skip:focus{
    top:80px;
    color: black;
    text-decoration-style: solid;
  }
  
  .contact-form .form-control{
    border-radius:1rem;
  }
  
  .contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
  }
  .contact-form .form-group{
    margin: 20px;
  }
  
  .contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: black;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  }
  .contact-form .btnContact:hover{
    background: #d0ff16;
    color: black;
  }

  body, html {
    height: 100%;
    text-align: center;
}

/* body {
  background-color: #242F3F;
} */
